.custom-shape-divider-bottom-1629739812 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629739812 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 75px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1629739812 .shape-fill {
  fill: #a38edf;
}
